body {
  background-color: orange;
  /* code de row pas dans app.js */
}
p {
  color: rgb(40, 129, 36);
}

article {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
}

@media screen and (max-width: 426px) {
  body {
    background: red;
  }
  article {
    flex-direction: column;
  }
}
