header .line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-color: peru;
  border-width: 2px;
  border-style: dotted;
  flex-wrap: wrap;
}

header nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header nav li {
  flex-grow: 1;
  border: 1px solid #666;
  list-style-type: none;
}

.logo img {
  width: 50%;
}

.search {
  width: 4rem;
}

header h1 {
  flex-basis: 300px;
  margin: 0;
}

header form {
  border: 1px solid black;
}

body {
  background-color: orange;
  /* code de row pas dans app.js */
}
p {
  color: rgb(38, 122, 122);
}

article {
  display: flex;
  justify-content: flex-start;
  padding-left: 1em;
}

@media screen and (max-width: 426px) {
  body {
    background: red;
  }
  article {
    flex-direction: column;
  }
}
